body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #0f0e0e;
}

.container {
    max-width: 800px;
    margin: auto;
    background: rgb(58, 86, 88);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical; /* Allow vertical resizing */
    background-color: #0f0e0e;
    color: #ddd;
}

textarea {
    height: 100px;
    overflow: auto;
}

.form-group textarea:focus {
    transform: scale(110%);
}

.form-group input:focus {
    transform: scale(110%);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover{
    background-color: #308ff5;
    transform: scale(103%);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #0e0c0c;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #ccc;
}

ul li p {
    margin: 5px 0;
    flex-grow: 1;
    max-width: 100%; /* Ensure the description does not exceed the width of the li */
    word-wrap: break-word; /* Ensure long words break and do not overflow */
}

ul li a {
    color: #007bff;
    text-decoration: none;
    flex-shrink: 0;
}

ul li .actions {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

ul li .actions label {
    margin-left: 10px;
    margin-right: 5px;
}

ul li .actions .rating-container {
    display: none;
    margin-left: 10px;
}

ul li .actions .rating-container select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

ul li button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

footer{
    background-color: hsl(8, 18%, 9%);
    color: #ddd;
    padding: 10px;
    margin-top: 20px;
    margin-top: calc(auto + 4px);
}
